* {
    box-sizing: border-box;
}

html {
    font-family: instrument;
    color: black;
}

body {
    margin: 0;
    font-size: 1rem;
    background-image: radial-gradient(circle at 50% 50%, var(--clr-primary-1), var(--clr-primary-2));
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
    font-weight: 600;
}

canvas {
    border-radius: 10px;
}

a {
    text-decoration: none;
    font-size: 1.2rem;
}

.input-txt {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
}

.input-txt:focus {
    border-color: var(--clr-primary-3);
    box-shadow: 0 0 0 0.2rem var(--clr-primary-4);
}

.button-1 {
    background-color: var(--clr-primary-3);
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: var(--clr-primary-base);
    cursor: pointer;
    display: inline-block;
    font-family: "Haas Grot Text R Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    font-weight: 500;
    height: 40px;
    line-height: 20px;
    list-style: none;
    margin: 0;
    outline: none;
    padding: 10px 16px;
    position: relative;
    text-align: center;
    text-decoration: none;
    transition: color 100ms;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
}

.button-1:hover,
.button-1:focus {
    background-color: var(--clr-primary-5);
}