* {
    box-sizing: border-box;
}

html {
    font-family: open-sans;
    color: black;
}

body {
    margin: 0;
    font-size: 1rem;
    background-color: var(--clr-base);
    color: var(--clr-txt);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0 0 1em;
    font-weight: 600;
}

canvas {
    width: 100%;
    border-radius: 10px;
    box-shadow:
        0 4px 6px -1px rgba(255, 255, 255, 0.7),
        0 10px 15px -3px rgba(255, 255, 255, 0.7),
        0 20px 25px -5px rgba(255, 255, 255, 0.7);
    margin: 20px;
}

a {
    text-decoration: none;
}

.input-txt {
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    color: #555;
    outline: none;
}

.input-txt:focus {
    border-color: var(--clr-primary-3);
    box-shadow: 0 0 0 0.2rem var(--clr-primary-4);
}

button {
    padding: 24px 24px;
    margin-top: 10px;

    background-color: #BB86FC;
    color: #000;
    font-weight: bold;
    font-size: 20px;
    border: none;
    border-radius: 8px;

    cursor: pointer;
    transition: background-color 0.2s, transform 0.1s;
}

button:hover {
    background-color: #d1b1ff;
    transform: translateY(-2px);
}

button:active {
    transform: translateY(0);
}

.btn2 {
    padding: 14px 14px;
}

.btn-clr {
    background-image: url('/images/buttons/btn-color.svg');
}

.clr-label {
    color: #BB86FC;
}

.btn-toggle-menu{
    padding: 5px 10px;

}