/* Media Queries */

/* Mobile only */

@media (max-width: 940px) {
    .main-nav {
        position: fixed;
        top: 0px;
        right: 0;
        z-index: 10;
        height: 100dvh;
        background: rgb(255 255 255 / 80%);
        border-inline-start: 1px solid #ccc;

        width: min(100%, 200px);
        transform: translateX(100%);
        transition: transform .6s, box-shadow .6s;

        body.menu-open & {
            transform: translateX(0);
            box-shadow: -7px 0px 20px 4px rgb(0 0 0 / 34%);
        }

        >ul {
            flex-direction: column;
            height: auto;
            gap: 15px;
            padding: 20px 0;
        }

        a {
            display: grid;
            place-items: center;
            height: 50px;
            width: 100%;
            transition: background-color .4s;

            &.active {
                box-shadow: inset 6px 0px 0 var(--clr-primary-2);
            }
        }
    }
}

/* SMALL 600px */
@media (min-width: 660px) {
    .main-layout {
        grid-template-columns: minmax(16px, 1fr) minmax(auto, var(--s)) minmax(16px, 1fr);
    }

    .logo {
        font-size: 2.5em;
    }
}

/* MEDIUM 880px */
@media (min-width: 940px) {
    .main-layout {
        grid-template-columns: minmax(16px, 1fr) minmax(auto, var(--m)) minmax(16px, 1fr);
    }

    .logo {
        font-size: 4em;
    }

    .main-nav {

        ul {
            gap: 5px;
        }

        a {
            font-size: 1.2em;

            &:hover {
                color: var(--clr-primary-2);
                box-shadow: inset 0px -6px 0 var(--clr-primary-2);
            }

            &.active {
                box-shadow: inset 0px -6px 0 var(--clr-primary-2);
                color: var(--clr-primary-2);
                background-color: rgba(255, 255, 255, 0.05);
                cursor: default;

            }
        }
    }

    .btn-toggle-menu {
        display: none;
    }



}

/* LARGE 1060px */
@media (min-width: 1120px) {
    .main-layout {
        grid-template-columns: minmax(16px, 1fr) minmax(auto, var(--l)) minmax(16px, 1fr);
    }

    .main-nav {
        ul {
            gap: 10px;
        }

        a {
            font-size: 1.5em;
        }
    }
}