/* Typography */

@font-face {
    font-family: bubble;
    src: url(../../fonts/bubble/BubblegumSans-Regular.ttf);
}

@font-face {
    font-family: open-sans;
    src: url(../../fonts/open-sans/OpenSans-SemiBold.ttf);
}

@font-face {
    font-family: inconsolata;
    src: url(../fonts/inconsolata/Inconsolata-Regular.ttf);
}


@font-face {
    font-family: montserrat;
    src: url(../fonts/montserrat/Montserrat-Regular.ttf);
}

@font-face {
    font-family: playfair;
    src: url(../fonts/playfair/PlayfairDisplay-Regular.ttf);
}

@font-face {
    font-family: roboto;
    src: url(../fonts/roboto/Roboto-Regular.ttf);
}

@font-face {
    font-family: sono;
    src: url(../fonts/sono/Sono-Regular.ttf);
}

@font-face {
    font-family: spectral;
    src: url(../fonts/spectral/Spectral-Regular.ttf);
}