/* Variables */

:root {

    /* Palette */
    --clr-primary-5: #000;
    --clr-primary-4: #222831;
    --clr-primary-3: #393E46;
    --clr-primary-2: #00ADB5;
    --clr-primary-1: #EEEEEE;
    --clr-primary-base: whitesmoke;
    --clr-primary--1: #e1e1e1;
    --clr-primary--1-rgb: 225, 225, 225;

    /* Gaps */
    --xl-gap: 40px;
    --l-gap: 20px;
    --m-gap: 15px;
    --s-gap: 10px;

    /* Layout Size */
    --s: 600px;
    --m: 880px;
    --l: 1060px; 
}