/* Variables */

:root {

    /* Palette */
    --clr-primary-5: #311D3F;
    --clr-primary-4: #522546;
    --clr-primary-2: #03DAC6;
    --clr-nav-links:#BB86FC;
    --clr-surface: #1E1E1E;
    --clr-base: #121212;
    --clr-txt: #FFFFFF;
    --clr-primary--1-rgb: 225, 225, 225;

    /* Gaps */
    --xl-gap: 40px;
    --l-gap: 20px;
    --m-gap: 15px;
    --s-gap: 10px;

    /* Layout Size */
    --s: 600px;
    --m: 880px;
    --l: 1060px; 
}