/* Editor Container */

.editor-container {
    >* {

        &.inputs-container {
            display: grid;
            grid-template-columns: 1fr;
            grid-template-rows: repeat(6, auto);
            grid-auto-flow: column;

            width: 100%;

            >* {
                display: flex;
                justify-content: space-evenly;
            }

        }
    }

    .clr-label {
        cursor: pointer;
    }

    .input-clr {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

    .input-txt{
        height: 40px;
    }
}

/* .editor-container {
    >* {
        border-radius: 10px;
        background-color: rgba(var(--clr-primary--1-rgb), 0.3);

        &.inputs-container {
            display: grid;
            grid-template-rows: repeat(3, 1fr);
            grid-template-columns: 1fr;
            justify-items: center;
            grid-template-areas:
                "t"
                "f"
                "a";

            >* {
                display: flex;
                align-items: center;
                justify-content: center;
                gap: var(--l-gap);

                &.txt-inputs {
                    grid-area: t;
                    display: flex;
                    flex-direction: column;

                    .txt-actions-container {
                        display: flex;
                        gap: var(--l-gap);
                    }
                }

                &.font-inputs {
                    grid-area: f;
                    display: flex;
                    flex-direction: column;

                    >* {
                        display: flex;
                        gap: var(--l-gap);
                    }
                }

                &.emojis {
                    grid-area: e;
                }

                &.actions {
                    grid-area: a;
                }
            }
        }
    }

    .clr-label {
        cursor: pointer;
    }

    .input-clr {
        position: absolute;
        opacity: 0;
        cursor: pointer;
    }

} */