/* Main Nav */

.main-nav {

    a {
        display: grid;
        place-items: center;
        width: 100px;
        aspect-ratio: 1 / 1;
        align-items: center;
        color: var(--clr-nav-links);
        font-size: 2em;

        transition: color .6s, box-shadow .6s;
    }
}