/* Main Nav */

.main-nav {

    text-transform: uppercase;

    a {
        color: var(--clr-primary-3);
        text-decoration: none;

        &:hover{
            color: var(--clr-primary-5);
        }
    }
}